<!DOCTYPE html>
<html lang="eus">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31935166-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-31935166-2');
    </script>

    <meta charset="UTF-8">

    {% seo %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="preload" href="{{ '/shared/fonts/EHUSans/EHUSans-Regular.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="{{ '/shared/fonts/EHUSans/EHUSans-Bold.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <link rel="preload" href="{{ '/shared/fonts/EHUSans/EHUSans-black.otf?v=' | append: site.github.build_revision | relative_url }}" as="font" type="font/otf" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/shared/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% include head-custom.html %}

    <link rel="icon" type="image/jpg" href="{{ '/assets/img/favicon.jpg' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | relative_url }}" type="image/x-icon">

  </head>
  <body>

    <header class="page-header" role="banner">
      <a href="{{ site.baseurl }}/">
	<img class="header-logo-image" src="{{ site.baseurl }}/assets/img/inigo.png" alt="Iñigo Lopez Gazpio ren perfil irudia.">
      </a>

      <div class="navigation-buttons">
	<a href="{{ site.baseurl }}/eus/" class="btn-header">Nor naiz</a>
	<a href="{{ site.baseurl }}/eus/irakaskuntza" class="btn-header">Irakaskuntza eta formazioa</a>
	<a href="{{ site.baseurl }}/eus/ikerketa" class="btn-header">Ikerketa interesak</a>
	<a href="{{ site.baseurl }}/eus/harremanetan_jarri" class="btn-header">Jarri harremanetan</a>
      </div>

      <div class="language-switch">
	<a href="{{ site.baseurl }}/es/" class="language-link">ES</a>
	<a href="{{ site.baseurl }}/" class="language-link">EN</a>
      </div>

    </header>


    <main id="content" class="main-content" role="main">


       {{ content }}


       <footer class="site-footer">

	 <div class="lower-horizontal-banner">

	   <a href="https://www.ehu.eus/eu/web/informatika-fakultatea" target="_blank" rel="noindex nofollow">
	     <img src="{{ site.baseurl }}/assets/img/EHULogo.png" alt="Inigo Lopez Gazpio ren enplugu unitatea. Euskal Herriko Unibertsitatea (UPV/EHU).">
	   </a>

	   <a href="https://www.hitz.eus/" target="_blank" rel="noindex nofollow">
	     <img src="{{ site.baseurl }}/assets/img/HitzLogo.png" alt="Inigo Lopez Gazpio ren lanpostua. HiTZ Hizkuntzarako teknologia zentroa. Euskal Herriko Unibertsitatea (UPV/EHU).">
	   </a>

	   <a href="https://www.ixa.eus/?language=en" target="_blank" rel="noindex nofollow">
	     <img src="https://www.ixa.eus/sites/default/files/ixa_0.png" alt="Inigo Lopez Gazpio ren ikerketa afiliazioa. IxA taldea. Euskal Herriko Unibertsitatea (UPV/EHU).">
	   </a>

	 </div>

        <span class="site-footer-owner">
	  <a property="dct:title" rel="cc:attributionURL" href="{{ site.github.repository_url }}">
	    www.inigolopezgazpio.net
	  </a>
	  is licensed under
	  <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
	    Creative Commons Attribution-ShareAlike 4.0 International
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
	    <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a>

	</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> (Jekyll Cayman template).</span>
      </footer>
    </main>
  </body>
</html>
